@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-clr-primary-200: 219 255 0;
  --tw-clr-primary-300: 0 232 135;
  --tw-clr-primary-400: 0 224 243;
  --tw-clr-primary-500: 0 196 253;

  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #DBFF00 */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #00e887 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #00e0f3 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #00c4fd */
}

.debug {
  border: 4px solid red !important;
}

.debug2 {
  border: 4px solid yellow;
}

.debug3 {
  border: 4px solid green;
}
