@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
  border: 4px solid red !important;
}

.debug2 {
  border: 4px solid yellow;
}

.debug3 {
  border: 4px solid green;
}

.layout {
  @apply mx-10 lg:mx-36 md:mx-20;
}
